
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.ShowContainer {
	max-width: 1500px;
    min-width: 1000px;
    height: 300px;
    margin: auto; 
    position: relative;    
}

.arrow{
	position: absolute;  
	top: 110px; 	  
    width: 19px;
    height: 40px;
    cursor: pointer;   
    background-repeat: no-repeat;
    background-position: center;
    z-index:2;  
}


.arrow-left{
      left:20px;
      background-image: url("images/arrowL.png");  
}

.arrow-right{ 	 
	right:20px;	
    background-image: url("images/arrowR.png");   
}

.pic{ 
    position: absolute;
    top:0;
    left:0;
    transition: opacity 1s linear;   
    z-index: 2;

}
.opacity0{opacity:0;}
.opacity1{opacity:1;}

.txtItems{    
    position: absolute;
    z-index:2; 
    left:0;
    cursor: pointer;
    color: #fff;
    width: 100%;
    overflow: hidden;
    transition: height 0.25s linear;
}

.shorten{
    bottom: 0px;
    height: 5px;
}

.heighten{
    bottom: 0px;
    height: 50px;
}

.txtItems:hover{
   bottom: 0px;
   height: 50px;
}

.txtItemsLi{
    text-align: center;
    width: 11.45%; 
    padding: 0.5%;
    margin-right: 0.05%;
    background-color:#333; 
    opacity: 0.5;   
    float: left;   
   transition: opacity 0.25s linear;

}
.txtItemsLi:hover{
    background-color: #FF8C00;
    opacity: 1;

}

.currentTxt{
    background-color: #FF8C00;
    opacity: 1;
}


.txtItemsLi span{
    display: block;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
}
